NODE_ENV=YOUR_VALUE_HERE

# Claude
CLAUDE_API_KEY=YOUR_VALUE_HERE


# =YOUR_VALUE_HERE
# STRIPE
# =YOUR_VALUE_HERE
#stripe dashboard change webhook url to Click "Replay" 
#https://api.codeco.tech/paymentsuccess

STRIPE_SECRET_KEY=YOUR_VALUE_HERE
STRIPE_WEBHOOK_SECRET=YOUR_VALUE_HERE
#STRIPE_WEBHOOK_SECRET=YOUR_VALUE_HERE
#PRO_PRICE_ID=YOUR_VALUE_HERE
#STRIPE_PAYMENT_DESCRIPTION=YOUR_VALUE_HERE

# Cal.com main neo not done yet

DATABASE_URL=YOUR_VALUE_HERE

DATABASE_DIRECT_URL=YOUR_VALUE_HERE
NEXTAUTH_SECRET=YOUR_VALUE_HERE
CALENDSO_ENCRYPTION_KEY=YOUR_VALUE_HERE
    
#NEXTAUTH_URL=YOUR_VALUE_HERE
NEXTAUTH_URL=YOUR_VALUE_HERE
NEXT_PUBLIC_WEBAPP_URL=YOUR_VALUE_HERE
CALCOM_TELEMETRY_DISABLED=YOUR_VALUE_HERE

# n8n
N8N_HOST=YOUR_VALUE_HERE
WEBHOOK_URL=YOUR_VALUE_HERE

# AWS/S3/SES
# =YOUR_VALUE_HERE
# AWS S3 (Download Bucket)
# =YOUR_VALUE_HERE
NEXT_AWS_S3_REGION=YOUR_VALUE_HERE
NEXT_AWS_S3_BUCKET_NAME=YOUR_VALUE_HERE
NEXT_AWS_S3_ACCESS_KEY_ID=YOUR_VALUE_HERE
NEXT_AWS_S3_SECRET_ACCESS_KEY=YOUR_VALUE_HERE


# =YOUR_VALUE_HERE
# AWS S3 (Download Bucket)
# =YOUR_VALUE_HERE
#AWS_IAM_SES_SMPT_Name=YOUR_VALUE_HERE
AWS_SES_SMTP_USER=YOUR_VALUE_HERE
AWS_SES_SMTP_PASSWORD=YOUR_VALUE_HERE
#OLD_AWS_SES_SMTP_USER=YOUR_VALUE_HERE
#OLD_AWS_SES_SMTP_PASSWORD=YOUR_VALUE_HERE
AWS_DEFAULT_REGION=YOUR_VALUE_HERE

# Frozen sender + reply path (outbound only + real inbox)
FROM_EMAIL=YOUR_VALUE_HERE
REPLY_TO_EMAIL=YOUR_VALUE_HERE

